/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lexend";
  src: url(./assets/fonts/LexendDeca-VariableFont_wght.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Big";
  src: url(./assets/fonts/BigShouldersDisplay-VariableFont_wght.ttf);
  font-weight: 700;
}

/* CSS Variables */
:root {
  /* Primary */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  /* (paragraphs) */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons) */
  --Very-light-gray: hsl(0, 0%, 95%);
}

html {
  font-size: 15px;
}

body {
  font-family: "Lexend";
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Very-light-gray);
}

.wrapper {
  display: flex;
}

.category {
  width: 307px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 48px;
}

.category:first-child {
  background-color: var(--Bright-orange);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.category:nth-child(2) {
  background-color: var(--Dark-cyan);
}

.category:last-child {
  background-color: var(--Very-dark-cyan);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.content {
  margin-bottom: auto;
}

.content img {
  margin-bottom: 34px;
}

.content h1 {
  font-family: "Big";
  font-size: 40px;
  color: var(--Very-light-gray);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content p {
  color: var(--Transparent-white);
  line-height: 1.6;
}

.category .button {
  width: fit-content;
  background-color: var(--Very-light-gray);
  padding: 13px 30px;
  border-radius: 25px;
  text-decoration: none;
  transition: all 350ms ease-in-out;
}

.category:first-child .button {
  color: var(--Bright-orange);
}

.category:nth-child(2) .button {
  color: var(--Dark-cyan);
}

.category:last-child .button {
  color: var(--Very-dark-cyan);
}

@media (hover: hover) {
  .category .button:hover {
    background-color: transparent;
  }

  .category .button:hover {
    border: 2px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
  }
}

.category .button:active {
  background-color: transparent;
}

.category .button:active {
  border: 2px solid var(--Very-light-gray);
  color: var(--Very-light-gray);
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  main {
    height: 220vh;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .category {
    width: 327px;
    height: 70vh;
  }

  .category:first-child {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
  }

  .category:last-child {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .category {
    width: 80%;
    padding: 48px 100px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main {
    height: 100vh;
  }

  .category {
    width: 70%;
    height: 300px;
    padding: 40px;
  }

  .content img,
  .content h1 {
    margin-bottom: 35px;
  }

  .content h1 {
    float: right;
  }

  .category .button {
    align-self: flex-end;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
